.bg-first{
    background-image: url(asstes/img/banner-12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


@media screen and (min-width:576px) {

    .width40{  width: 40% !important; }
    
}
.pad40{
    padding: 100px 80px;
}
.hh{
    height:120 vh;
}


.bgsecend{
    background-image: url(asstes/img/banner-02.jpg);
    background-position: center;
    background-size: cover;
    height: 120vh;
    margin:100px 0;
    box-shadow: inset 0 125vh 5px rgba(26, 25, 25, 0.333);
}

.w150{
    width: 200px;
}
.bggreen{
    background-image: url(asstes/img/31.jpg);
    background-size: cover;
    box-shadow: inset  0 1000px 10px rgba(114, 200, 114, 0.64);
}